/* ==========================================================================
   GOOGLE MAPS
   ========================================================================== */

.angular-google-map-container {
  height: 95vh;
}
.gm-style-pbc{
    display: none !important
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*FONT FACE EXAMPLE*/
/*@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro-webfont.eot');
    src: url('../fonts/myriadpro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/myriadpro-webfont.woff') format('woff'),
         url('../fonts/myriadpro-webfont.ttf') format('truetype'),
         url('../fonts/myriadpro-webfont.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/

[ng-cloak]
{
  display: none !important;
}
.nav>li>a:hover, .nav>li>a:focus{
  background-color: transparent;
}

body, html{
	margin: 0px;
	padding: 0px;
   width:  100%;
  height: 100%;
  /*overflow: auto;*/
}


a{
  text-decoration:none;
  color:black;
}
a:hover{
  text-decoration: none;
  color: black;
}

p{
  margin:0px;
}

.pd0{
  padding: 0px;
}

.cursor{
  cursor:pointer;
}

.ola{
  font-family: 'Roboto';
  font-weight: 300;
}


/*HOME*/
.holder_destaques_home{
  height: 100vh;
}
.titulo_destaques{
  height: 30%;
  background-color: #33384e;
  display: flex;
  align-items: center;
    overflow: hidden;
}

.fotos_destaques{
  height: 70%;
    overflow: hidden;
  /*background-image: url(../img/home_destaques.jpg);
  background-position: center center;
  background-size: cover;*/
}
.fotos_destaques img{
    min-width: 100vw;
    min-height: 70vh;
    position: absolute;

}
.imagens_insta img{
    max-width: 100%;
    min-height: 100%;
}
.imagens_insta{
    height:calc(41vw / 2);
    cursor: pointer;
}
.imagens_insta_responsive{
    display: none;
}

.holder_home_logos_holder{
  display: flex;
}
.holder_home_logos_holder_esquerda{
  display: flex;
  align-items:center;
}

.holder_logos_home{
  display: flex;
  flex-wrap: wrap;

}
.logo_insta{
  position: absolute;
  z-index: 20;
  margin: 20px;
}
.holder_logos_home div{
  width: 25%;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  justify-content: center
}

.holder_texto_home{
  display:flex;
}

.holder_texto_home_esquerda{
  background-color:#eb504c;
  display: flex;
  align-items:center;
}

.texto_home{
  font-family: 'Roboto';
  font-weight: 300;
  font-size:20px;
  color:#34394f;
    margin-left: 35px;
}
.texto_home span{
  font-weight: 700;
}
.contactos_holder{
  background-color:#34394f;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contactos_home_holder{
  text-align: center;
  display: flex;
}
.contactos_home_holder_texto{
  z-index: 100;
  position: absolute;

  color: white;
    top: 50%;
    transform: translatey(-50%);
  font-family: 'Roboto';

}
.contactos_home_holder  p{
  font-size: 33px;

}.contactos_home_holder h1{
   font-weight: bold;
   font-size: 63px;
 }

.input_submit_contactos_home{
  background-color: #20222e;
  height: 64px;
  width:100%;
  border:none;
  color:#ffffff;
  padding: 0px;
}

.input_home{
  height: 90px;
  background-color:#34394f;
  border:none;
  border-bottom: 1px solid #20222e;
  width: 100%;
  color:#ffffff;

}

.textarea_home{
  height: 180px;
  background-color:#34394f;
  width: 100%;
  border:none;
  color:#ffffff;
    padding-top: 15px;
}
.input_home, .textarea_home{
   color:white;
  font-family: 'Roboto';
  font-size: 18px;
  padding-left: 15px;
}
.input_home::placeholder, .textarea_home::placeholder{
    color:white;
}

/*::placeholder{
  color:white;
  font-family: 'Roboto';
  font-size: 18px;
  padding-left: 15px;
}*/

.holder_titulo_home{
  display:flex;
}

.home_titulo{
  color:#eb504c;
  font-size: 108px;
  font-family: 'Roboto';
  font-weight: 700;
  line-height: 100px;
}

.home_tipo{
  font-size:18px;
  font-family:'Roboto';
  font-weight: 400;
  color:#ffffff;
  padding-top: 6px;
}


/*FOOTER*/
.footer_holder_responsive{
    display: none;
}
.footer_holder{
  height: 170px;
  background-color: #34394f;
  display: flex;
}

.footer_direita{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 12px;
  color:#ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

}

.footer_esquerda{
font-family: 'Roboto';
  font-weight: 300;
  font-size: 15px;
  color:#ffffff;

}

.footer_texto span{
  font-weight: 700;
}

.tit_footer_texto{
   margin-right: 10px;
    position: relative;
    float: left;
    margin-left: 100px;
        top: 50%;
    margin-top: -30px;

}
.contactos_footer_texto{
  position: relative;
  float: left;
      top: 50%;
    margin-top: -30px;
}
.enderesso_footer_texto{
  position: relative;
  float:left;
  margin-left: 70px;
      top: 50%;
    margin-top: -30px;
}

/*Portfolio*/
.holder_linha{
    /*height: 50vw;*/
    overflow:hidden;
}
.linha_full{
  height:50vw;
    background-position: center;
    transition: transform 4s;


}

.linha_half{
  height: 25vw;
    background-position: center;
    transition: transform 4s ;

}
.linha_half:hover{
    transform: scale(1.4);
}
.linha_full:hover{
    transform: scale(1.4);

}
.holder_backgrounds:hover{
    opacity: 0;
}


.linha_full_bd{
  height: 50vw;

  position: absolute;
}
.holder_backgrounds{
  height: 100%;
  position: absolute;
  width: 100%;
    transition:  5s;
    opacity:0.9;

}

.linha_half_bd{
  height: 200px;
}

.logo_altura img{
    pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50% 0%);
  transform: translate(-50%, -50%);
  /*min-height: 14%;*/
  /*min-width: 9%;*/
    width: 300px;
}
.text_portfolio{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10%;
  font-size: 18px;
  font-family: "Roboto";
  font-style: italic;
  color: rgb(255, 255, 255);
}

.mapa_home {
  height: 95vh;
    overflow: hidden;
}
.circle {
    background: rgb(255, 255, 255);
    z-index: 100;
    position: absolute;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    left: 50%;
    top: 95vh;
    transform: translate(0%, -50%);
    overflow: hidden;
}

.circle img {
    padding-top: 15px;
    width: 20px;
    display: block;
    margin: auto;

}
.circle:hover > img {
    animation: animation_seta 1.2s linear infinite;
}
@keyframes animation_seta {
    0% {transform:translateY(   0%);}
    10% {transform:translateY( 50%);}
    20% {transform:translateY( 75%);}
    30% {transform:translateY( 100%);opacity: 0}
    40% {opacity: 0}
    46% {transform:translateY( -100%)}
    /*50% {opacity: 1}*/
    60% {transform:translateY( -60%);opacity: 1;}
    65% {transform:translateY( -50%);opacity: 1;}
    70% {transform:translateY( -40%);}
    80% {transform:translateY( 0%);}
    90% {transform:translateY( 0%);}
    100% {transform:translateY(0%);}
}

.testo_mapa_home {
    position: absolute;
    z-index: 110;
    color: #eb504c;
    font-size: 35px;
    /* width: 97vw; */
    text-align: right;
    margin-top: 20vh;
    right: 27px;
    pointer-events: none;

}
.testo_mapa_home p{

  font-family: 'Roboto';
  font-weight: bold;
}
/*PORTFOLIO  2 */
.folio2_header{
   background-image: url('../img/folio2.jpg');
   background-size: cover;
   height: 95vh;
   
 }
 .conteudo_port_holder{
   padding-top: 100px;
   background-color:white;
 }
.holder_folio2_header{
   top: 50%;
   position: absolute;
   transform: translate(0%, -50%);
 }
.titulo_folio2{
   color: white;
    font-family: ROBOTO;
    font-size: 52px;
    padding-right: 50%;
    font-weight: bold;
    padding-top: 18px;
    line-height: 45px;
 }
.descricao_folio2{
    font-size: 18px;
    font-family: Roboto;
    color: rgb(255, 255, 255);
    padding-top: 15px;
    line-height: 19px;
 }
.linha_folio2{
  height: 50vh;
}
.texto_folio2{
   height: 100%;
   text-align: right;
   padding-right: 5%;
   padding-left: 19%;
   font-family: Roboto;
 }
.imagem_folio2{
   height: 100%;
   background-size: cover;
 }

 .portfolio2_holder{
  position: relative;
  float: left;
  overflow: auto;
  width: 100%;
 }
/* .container_website{
overflow: hidden;
 }*/

 .portfolio2_holder2{
  overflow: auto;
 }

 
 .holder_backgrounds_portfolio2{
  height: 100%;
  position: absolute;
  width: 100%;
  background-color: #3367cc;
  opacity: 0.9;
}


/*SOBRE NOS*/

.fotos_sobrenos{
  width: 20%;
  height: 33.33333%;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
}
.holder_backgrounds_sobrenos{
    height: 100%;
    position: absolute;
    width: 100%;
}
.holder_conteudo_sobrenos{
  position: absolute;
  z-index: 2;
}
.texto_top_sobrenos {
    margin-top: 5%;
}
.texto_top_sobrenos p{
    text-align: right;
    font-size: 60px;
    font-family: 'Roboto';

    color: #eb504c;

    font-weight: bold;
    width:46.7%;
    margin-left:50%;
    white-space: nowrap;
    overflow: hidden;


    /*animation-name: example;*/
    /*animation-duration: 8s;*/
    animation: type 3s steps(60, end);
    animation-fill-mode: forwards;

}
@keyframes type{
    0%{width: 0%; }
    50%{width: 0;}
    100%{ width:46.7%;}
}

.texto_top_sobrenos p:nth-child(2){
    animation: type2 4s steps(60, end);
    animation-fill-mode: forwards;
    margin-left: 52%;
    width:45.3%;
}






@keyframes type2{
    0%{width: 0%; }
    50%{width: 0;}
    100%{ width:44.6%;}
}
.texto_top_sobrenos p:nth-child(3){
    animation: type3 6s steps(40, end);
    animation-fill-mode: forwards;
    margin-left: 67%;

    opacity: 0;


}






@keyframes type3{

    0%{width: 0%;opacity: 1; }
    50%{width: 0;}
    100%{ width:29.5%;opacity: 1;}

}
/*@keyframes example {*/


    /*0%   {width: 40%}*/



    /*100%  {width: 8%}*/



/*}*/


.texto_middle_sobrenos {
    position: absolute;
    bottom: 132%;
    transform: translate(20%, -50%);
    color: rgba(52, 57, 79, 0.9);
    font-family: 'Roboto';
    font-size: 31px;
    font-weight:bold;
}
.texto_botttom_left_sobrenos{
  top: 50%;
  transform: translate(0%,-50%);
  font-size: 30px;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}
.texto_botttom_right_sobrenos{
  font-size: 30px;
  color: #eb504c;
  top: 50%;
  transform: translate(0%,-50%);
  padding-right: 10%;
  font-family: 'Roboto';
}

/*MENU*/

/*.menu_holder{
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 86px;
  background-color: white;
  left: 10px
}

.vertical-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
  float:left;
}*/
.menu_holder {
  width: 70px;
  height: 45px;
  position: fixed;
  z-index: 200;
  margin-left: 20px;
}
.menu-list-holder{
  background:white;

  transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform:rotate(-90deg) translate3D(-100%,0,0);
  -moz-transform:rotate(-90deg) translate3D(-100%,0,0);
  -o-transform:rotate(-90deg) translate3D(-100%,0,0);
  -ms-transform:rotate(-90deg) translate3D(-100%,0,0);
  -webkit-transform:rotate(-90deg) translate3D(-100%,0,0);
  color: #7f7f7f;
  height: 66px;
  width: calc(100vh - 100px);

}
.menu-list-holder2{
  -webkit-transform-origin: left top;
  -webkit-transform: rotate(-90deg) translate3D(-100%,0,0);
  color: #7f7f7f;
  height: 66px;
  width: calc(100vh - 100px);
  position: absolute;
  top: 100px;
  background: transparent;
  pointer-events: none;
  display: none;
}
.menu_holder_active{
  display: block;
}
.menu_barra_red{
    background: #eb504c;
    width: calc(100% - 66px);
    height: 100%;
    float: left;
    pointer-events: all;
}
.menu_barra_btn{
  width: 66px;
  height: 100%;
  float: right;
  background-size: contain;
  background: white url('../img/botao_open_menu.svg') no-repeat center;
  transform: rotate(90deg);
  pointer-events: all;
}
.menu_back{
  background: url("../img/menu_back.svg") no-repeat center;
  background-size: contain;;
  height: 40px;
  width: 40px;
  transform: rotate(90deg) translate3d(30%,20%,0);
  float: right;
}
.toggle_mostrar_menu{
  animation: menu_mostrar_animation 2s forwards ease-in-out;
}
@keyframes menu_mostrar_animation {
  0%   {width: 90%;}
  100% {width: 15%;}
}
.toggle_hide_menu{
  animation: menu_fechar_animation 2s forwards ease-in-out;
}
@keyframes menu_fechar_animation {
  0%   {width: 15%;}
  100% {width: 90%;}
}
.fadeOut{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
  
}

.icon_menu{
  height: 100px;
  width: 66px;
}
.icon_open_menu_mobile {
    position: relative;
    float: right;
    width: auto;
    height: auto;
    display: block;
    margin-right: 22px;
    cursor: pointer;
    padding: 2px 4px;
    margin-top: 15px;
    border: 0px solid #58585a;
    border-radius: 3px;
}
.item_icon_menu_mobile {
    position: relative;
    float: left;
    width: 30px;
    height: 2px;
    margin-top: 3px;
    margin-bottom: 2px;
    background: #eb504c;
    clear: left;
    left: 0px;
    border-radius: 3px;
    -webkit-transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
    -webkit-transition: width ease-out 0.2s, opacity ease-out 0.2s, -webkit-transform ease-out 0.2s;
    transition: width ease-out 0.2s, opacity ease-out 0.2s, -webkit-transform ease-out 0.2s;
    transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s;
    transition: transform ease-out 0.2s, width ease-out 0.2s, opacity ease-out 0.2s, -webkit-transform ease-out 0.2s;
    display: none;
}

.menu_holder ul{
  display: inline-block;
  float: right;
}
.nav li {
    margin-right:8vh;
    float:right;
    height:100%;
    line-height:66px;
}
.nav>li>a{
  padding: 0;
  color: inherit;
}
.nav span{
  color: inherit;
}
.nav li:hover{
  color:#cccccc;
  cursor: pointer;
}
.menu_item_sel{
  color:#cccccc;
}
.icon_menu_list{
  min-height: 10px;
  display: inline-block;
  margin-top: 23px;
  margin-left: 15px;
  transform: rotate(90deg);
}
.icon_menu_list img{
  width: 18px;
}

.menu_mobile_list {

    display: none;
    background-color: white;
    height: 100vh;
    top: -100vh;
    position: fixed;
    font-family: 'Roboto';
    /* animation-name: example; */
    /* animation-duration: 4s; */
    /* animation-iteration-count: 3; */
    width: 100%;
    z-index: 50;

}
.menu_mobile_list ul{
    display: inline-block;
    /* float: right; */
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

.menu_mobile_list li {

    height:100%;
    line-height:90px;
    list-style: none;
    padding: 10px;
}
.menu_mobile_list>li>a{
    padding: 0;
    color: inherit;
}
.menu_mobile_list span{
    color: inherit;
}

.menu_mobile_open {


    animation-name: example;
    animation-duration: 1.5s;

    animation-fill-mode: forwards;

}
@keyframes example {
    0%   { top: -100vh;}

    100% {top:8vh;}
}
.menu_mobile_cima {
    animation-name: exampleCima;
    animation-duration: 1s;

    animation-fill-mode: forwards;

}
@keyframes exampleCima {
    0%   { top: 8vh;}

    100% {top:-100vh;}
}
.icon_fechar_menu_mobile > .item_icon_menu_mobile1{
    transform: translateX(4px) rotateZ(45deg);
    transform-origin: 0% 0%;
    width: 21px;

}
.icon_fechar_menu_mobile > .item_icon_menu_mobile2{
    opacity: 0;
}
.icon_fechar_menu_mobile > .item_icon_menu_mobile3{
    transform-origin: 0% 100%;
    transform: translateX(4px) rotateZ(-45deg);
    width: 21px;
}

.menu_mobile_list a {
    color: black;
    text-align: center;
    font-size: 22px;
    font-family: textfont;
    font-weight: bold;
    margin-top: 64px;
}

canvas{
  border:none;
  background-color: rgba(255,102,102,0.7);
}

.mapa_home_goolge canvas{
  background: transparent !important;
}

@media screen and (max-width:1200px) {

}

@media screen and (max-width:992px) {

}

@media screen and (max-width:768px) {

    .container_website {
        margin-top: 55px;
    }

    .menu-list-holder {
        display: none;
    }

    .item_icon_menu_mobile {
        display: block;
    }

    .icon_menu {
        height: 38px;
    }

    .menu_mobile {
        width: 100vw;
        height: 55px;
        position: fixed;
        background-color: white;
        margin-left: 0px;
        z-index: 200;
    }

    .menu_holder {

        margin-left: 0px;
    }

    .icon_menu {
        margin: 10px;
        width: 55px;
    }

    .menu_mobile_list {
        display: block;
    }

    /*HOME*/
    .holder_destaques_home {
        height: 70vh;
    }

    .titulo_destaques {
        height: 30%;
        background-color: #33384e;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .home_tipo {
        font-size: 14px;
    }

    .home_titulo {
        font-size: 52px;
    }

    .holder_titulo_home {
        padding-left: 10px;
    }

    .fotos_destaques {
        height: 70%;
        overflow: hidden;
    }

    .fotos_destaques img {
        min-width: 100vw;
        position: absolute;
        height: 100%;
        min-height: 0;
    }

    .holder_home_logos_holder {
        display: block;
    }

    .insta2 {
        display: none;
    }

    .holder_texto_home {
        display: block;

    }

    .holder_home_logos_holder_esquerda {
        padding: 50px 0;
    }

    .holder_texto_home_esquerda {
        padding: 50px 0;
    }

    .imagens_insta {
        display: none;
    }

    .imagens_insta_responsive {
        display: block;
        height: calc(100vw / 3);
        overflow: hidden;
    }

    .imagens_insta_responsive img {
        max-width: calc(100vw / 3);
    }

    .logo_insta {
        margin: 5px;
    }

    .logo_insta img {
        max-height: 20px;
    }

    .texto_home {
        margin-left: 14px;
        font-size: 15px;
    }

    .contactos_home_holder h1 {
        font-size: 30px;
    }

    .contactos_home_holder p {
        font-size: 16px;
    }

    .holder_logos_home {
        justify-content: center;
    }

    .holder_logos_home div {
        width: calc(100% / 3);
    }

    .holder_logos_home img {
        max-width: 85%;
    }

    /*FORM CONTACTOS*/
    .contactos_home_holder {
        display: block;
        height: calc(100vh - 55px);
    }

    .input_home, .textarea_home {
        font-size: 12px;
        padding-left: 10px;
    }

    .input_submit_contactos_home {
        height: 100%;
    }

    .contatos_input {
        height: 20%;
    }

    .holder_botao_submit {
        height: 25%;
    }

    .contactos_imagem_holder {
        height: 35%;
    }

    .contactos_holder {
        height: 65%;
    }

    .contactos_holder form {
        height: 100%;
    }

    .contatos_textarea {
        height: 35%;
    }

    .input_home {
        height: 100%;
    }

    .textarea_home {
        height: 100%;
    }

    /*FOOTER*/
    .footer_holder {
        display: none;
    }

    .footer_holder_responsive {
        display: block;
        height: 170px;
        background-color: #34394f;
    }

    /*.footer_holder_responsive span{
        padding: 5px;
    }*/
    .footer_titls {
        padding-left: 10px;
    }

    .footer_esquerda {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 13px;
        position: relative;
        color: #ffffff;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 19px;
        text-align: center;
    }

    .tit_footer_texto {
        margin-right: 10px;
        position: relative;
        /* float: left; */
        /* margin-left: 100px; */
        top: 50%;
        /* margin-top: -30px; */
        display: inline-block;
        margin-top: 0;
        margin-left: 0;
    }

    .contactos_footer_texto {
        position: relative;
        display: inline-block;
        margin-top: 0;
    }

    .enderesso_footer_texto {
        position: relative;
        padding-top: 20px;
        text-align: center;
        margin: 0;
    }

    .footer_direita {
        padding-top: 20px;
    }

    /*CONTACTOS*/
    .testo_mapa_home {
        font-size: 15px;
    }

    .mapa_home {
        height: calc(95vh - 55px);
    }

    .circle {
        top: calc(95vh - 55px);
        transform: translate(-50%, -50%)!important;
        height: 55px;
        width: 55px;
    }

    .circle img {
        padding-top: 12px;
    }

    .texto_botttom_left_sobrenos {
        font-size: 18px;

    }

    .texto_botttom_right_sobrenos {
        font-size: 13px;
    }

    .holder_backgrounds_sobrenos {
        top: 0px;
    }

    .texto_middle_sobrenos {
        top: 50%;
        transform: translate(0, 0);
        font-size: 20px;
        text-align: center;
        margin-top: -56px;
    }

    .texto_top_sobrenos p, .texto_top_sobrenos p:nth-child(2), .texto_top_sobrenos p:nth-child(3) {
        font-size: 20px;
        width: 100%;
        margin-left: 0px;
    }
}
