<div class="col-xs-12 pd0 ">
    <div class="mapa_home">
        <div class="testo_mapa_home">
            <p>Luís Pimentel</p>
            <p>lpimentel@bizness.pt</p>
            <br>
            <p>933232057</p>
            <p>214012432</p>
            <br>
            <p>Rua Rodrigues Faria, nª130</p>
            <p>Edifício 1 .Piso 3</p>
            <p>1300-501 Lisboa .Portuagal</p>

        </div>
        <div class="mapa_home_goolge">
            <ui-gmap-google-map center='map.center' zoom='map.zoom' options="options">
                <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events"
                                idkey="marker.id">
                </ui-gmap-marker>
            </ui-gmap-google-map>
        </div>


    </div>


</div>
<div class="circle" ng-click="scroll_bottom()" >
    <img src="img/seta_baixo.svg" alt="" width="100%">
</div>



<div class="col-xs-12 pd0 contactos_home_holder">
    <div class="col-sm-7 col-xs-12 pd0 contactos_imagem_holder">
        <div class="col-xs-12 pd0 contactos_home_holder_texto">
            <h1>{{array_lang.contactos_titulo}}</h1>
            <p>{{array_lang.contactos_subtitlo}}</p>
        </div>

     <!--   <div class="col-xs-12 pd0">
            <img src="img/contactos.jpg" alt="" height= "100%" width="100%">
        </div>-->
    </div>
    <div class="col-sm-5 col-xs-12 pd0 contactos_holder">
            <form id="formulario" name="formulario">
                <div class="col-xs-12 pd0 contatos_input">
                    <input id="nome" type="text" ng-model="form.nome" class="input_home" placeholder="{{array_lang.contactos_nome}}" required>
                </div>
                <div class="col-xs-12 pd0 contatos_input">
                    <input id="email" type="email" ng-model="form.email" class="input_home" placeholder="{{array_lang.contactos_email}}" required>
                </div>
                <div class="col-xs-12 pd0 contatos_textarea">
                    <textarea id="mensagem" ng-model="form.mensagem" class="textarea_home" placeholder="{{array_lang.contactos_mensagem}}" required></textarea>
                </div>
                <div class="col-xs-12 pd0 holder_botao_submit">
                    <input type="submit" ng-click="send_form(form)" ng-model="form.enviado" value="{{array_lang.contactos_enviar}}" class="input_submit_contactos_home">
                </div>
            </form>
        </div>
</div>

