<div class="col-sm-12 pd0">
    <div class="col-sm-12 pd0 holder_destaques_home">
        <div class="col-sm-12 pd0 titulo_destaques">
            <div ng-repeat="slide in destaques"
                 class="col-md-6 col-md-offset-6 col-sm-12 pd0 holder_titulo_home  slide slide-animation-titulo"
                 style="position: absolute" ng-hide="!isCurrentSlideIndex($index)" ng-class="{primeiro_destaque: $index == 0}">
                <div class="home_tipo">
                    {{slide.tipo}}
                </div>
                <div class="home_titulo">
                    <span class="first_titulo">{{slide.titulo[0]}}</span><br>
                    <div class="scndline">
                        <span class="scnd_titulo" ng-bind-html="slide.titulo[1]"></span> <!--<img class="seta_destaques" src="img/seta_destaques.svg">-->
                    </div>


                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xs-12 pd0 fotos_destaques container slider">

                <img ng-repeat="slide in destaques" class="slide slide-animation"
                     ng-hide="!isCurrentSlideIndex($index)" ng-click="stopSlides()" ng-src="img/destaques/{{slide.id}}/{{slide.imagem}}">
            <!-- CODE OMITTED -->
        </div>
    </div>
</div>
<div class="col-sm-12 pd0 holder_home_logos_holder">
    <div class="col-md-7 col-sm-12 col-xs-12 pd0 holder_home_logos_holder_esquerda">
        <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 pd0 holder_logos_home">
            <div>
                <img src="img/logo_edp.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_vw.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_rtp.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_guerlain.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_playstation.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_continent.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_kaspersky.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_samsung.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_huawei.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_nau.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_lacoste.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_heineken.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_loewe.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_microsoft.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_galp.svg" alt="" height="20">
            </div>
            <div>
                <img src="img/logo_delta.svg" alt="" height="20">
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 pd0">

        <div ng-repeat="i in ins | limitTo:4" class="col-md-6 col-sm-4 col-xs-4 pd0 imagens_insta">
            <div class="holder_backgrounds " ng-click="open_imagem_insta($index)" style="background-color: rgba(52,57,79,0.7);"></div>
            <div class="logo_insta"><img src="img/logo_instagram_red.svg"></div>
            <img ng-src="{{i.images.standard_resolution.url}}" alt="">
        </div>
        <div ng-repeat="i in ins | limitTo:9" class="col-sm-4 col-xs-4 pd0 imagens_insta_responsive">
            <div class="holder_backgrounds " ng-click="open_imagem_insta($index)" style="background-color: rgba(52,57,79,0.7);"></div>
            <div class="logo_insta"><img src="img/logo_instagram_red.svg"></div>
            <img ng-src="{{i.images.standard_resolution.url}}" alt="">
        </div>
        <!--<div class="col-sm-6 pd0">
            <div class="holder_backgrounds " style="background-color: rgba(52,57,79,0.7);"></div>
            <div class="logo_insta"><img src="img/logo_instagram_red.svg"> </div>
            <img src="img/instagram_foto.jpg" alt="" width="100%">
        </div>
        <div class="col-sm-6 pd0">
            <div class="holder_backgrounds " style="background-color: rgba(52,57,79,0.7);"></div>
            <div class="logo_insta"><img src="img/logo_instagram_red.svg"> </div>
            <img src="img/instagram_foto.jpg" alt="" width="100%">
        </div>
        <div class="col-sm-6 pd0">
            <div class="holder_backgrounds " style="background-color: rgba(52,57,79,0.7);"></div>
            <div class="logo_insta"><img src="img/logo_instagram_red.svg"> </div>
            <img src="img/instagram_foto.jpg" alt="" width="100%">
        </div>-->
    </div>

</div>
<div class="col-sm-12 col-xs-12 pd0 holder_texto_home">
    <div class="col-md-7 col-sm-12 col-xs-12 pd0 holder_texto_home_esquerda">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <p class="texto_home">
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra sem nisl, id fringilla ipsum imperdiet in.</span>
                <br><br>
                Nunc libero lacus, suscipit sed placerat velLorem ipsum dolor sit amet, consectetur adipiscing elit.
                Cras viverra sem nisl, id fringilla ipsum imperdiet in. Nunc libero lacus, suscipit sed placerat vel
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra sem nisl, id fringilla ipsum
                imperdiet in. Nunc libero lacus, suscipit sed placerat vel Cras viverra sem nisl, id fringilla ipsum
                imperdiet in. Nunc libero lacus, suscipit sed placerat vel
            </p>
        </div>
    </div>

    <div class="col-md-5 col-sm-12 col-xs-12 pd0 insta2" >
        <div ng-repeat="i in ins |  limitTo:8" ng-if="$index>3" class="col-md-6 col-sm-12 col-xs-12 pd0 imagens_insta ">
            <div class="holder_backgrounds " ng-click="open_imagem_insta($index)" style="background-color: rgba(52,57,79,0.7);"></div>
            <div class="logo_insta"><img src="img/logo_instagram_red.svg"></div>
            <img ng-src="{{i.images.standard_resolution.url}}" alt="">
        </div>
        <div ng-repeat="i in ins | limitTo:18" ng-if="$index>8" class="col-sm-4 pd0 imagens_insta_ultra">
            <div class="holder_backgrounds " ng-click="open_imagem_insta($index)" style="background-color: rgba(52,57,79,0.7);"></div>
            <div class="logo_insta"><img src="img/logo_instagram_red.svg"></div>
            <img ng-src="{{i.images.standard_resolution.url}}" alt="">
        </div>
        <!--<div class="col-sm-6 pd0">
            <div class="holder_backgrounds " style="background-color: rgba(52,57,79,0.7);"></div>
            <div class="logo_insta"><img src="img/logo_instagram_red.svg"> </div>
            <img src="img/instagram_foto.jpg" alt="" width="100%">
        </div>
        <div class="col-sm-6 pd0">
            <div class="holder_backgrounds " style="background-color: rgba(52,57,79,0.7);"></div>
            <div class="logo_insta"><img src="img/logo_instagram_red.svg"> </div>
            <img src="img/instagram_foto.jpg" alt="" width="100%">
        </div>
        <div class="col-sm-6 pd0">
            <div class="holder_backgrounds " style="background-color: rgba(52,57,79,0.7);"></div>
            <div class="logo_insta"><img src="img/logo_instagram_red.svg"> </div>
            <img src="img/instagram_foto.jpg" alt="" width="100%">
        </div>
        <div class="col-sm-6 pd0">
            <div class="holder_backgrounds " style="background-color: rgba(52,57,79,0.7);"></div>
            <div class="logo_insta"><img src="img/logo_instagram_red.svg"> </div>
            <img src="img/instagram_foto.jpg" alt="" width="100%">
        </div>-->
    </div>

</div>


<div class="col-sm-12 col-xs-12 pd0 contactos_home_holder">
    <div class="col-md-7 col-sm-12 col-xs-12 pd0 contactos_imagem_holder">
        <div class="col-sm-12 col-xs-12 pd0 contactos_home_holder_texto">
            <h1>Contacte-nos</h1>
            <p>Para esclarecer qualquer dúvida
            <p> ou prestar mais onformações</p>
        </div>

        <!--<div class="col-sm-12 col-xs-12 pd0">
            <img src="img/contactos.jpg" alt="" height= "100%" width="100%">
        </div>-->
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 pd0 contactos_holder">
            <form id="formulario" name="formulario">
                <div class="col-sm-12 col-xs-12 pd0 contatos_input">
                    <input id="nome" type="text" ng-model="form.nome" class="input_home" placeholder="NOME" required>
                </div>
                <div class="col-sm-12 col-xs-12 pd0 contatos_input">
                    <input id="email" type="email" ng-model="form.email" class="input_home" placeholder="EMAIL" required>
                </div>
                <div class="col-sm-12 col-xs-12 pd0 contatos_textarea">
                    <textarea id="mensagem" ng-model="form.mensagem" class="textarea_home" placeholder="MENSAGEM" required></textarea>
                </div>
                <div class="col-sm-12 col-xs-12 pd0 holder_botao_submit">
                    <input type="submit" ng-click="send_form(form)" value="ENVIAR" class="input_submit_contactos_home">
                </div>
            </form>
        </div>
</div>




