<div class="col-xs-12 pd0">
	<div class="col-xs-12 pd0 holder_destaques_home">
		<div class="col-xs-12 pd0 titulo_destaques">
			<div class="col-xs-6 col-xs-offset-6 pd0 holder_titulo_home">
				<div class="home_tipo">
					ACTIVAÇÃO
				</div>
				<div class="home_titulo">
					SAMSUNG KNOX
				</div>
			</div>
		</div>
		<div class="col-xs-12 pd0 fotos_destaques">
			
		</div>
	</div>
</div>
<div class="col-xs-12 pd0 holder_home_logos_holder">
	<div class="col-xs-7 pd0 holder_home_logos_holder_esquerda">
		<div class="col-xs-10 col-xs-offset-1 pd0 holder_logos_home">
			<div>
				<img src="img/logo_edp.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_vw.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_rtp.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_guerlain.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_playstation.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_continent.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_kaspersky.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_samsung.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_huawei.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_nau.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_lacoste.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_heineken.svg" alt="" height="20">
			</div>
				<div>
				<img src="img/logo_loewe.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_microsoft.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_galp.svg" alt="" height="20">
			</div>
			<div>
				<img src="img/logo_delta.svg" alt="" height="20">
			</div>
		</div>
	</div>
	<div class="col-xs-5 pd0">
		<div class="col-xs-6 pd0">
			<img src="img/instagram_foto.jpg" alt="" width="100%">
		</div>
		<div class="col-xs-6 pd0">
			<img src="img/instagram_foto.jpg" alt="" width="100%">
		</div>
		<div class="col-xs-6 pd0">
			<img src="img/instagram_foto.jpg" alt="" width="100%">
		</div>
		<div class="col-xs-6 pd0">
			<img src="img/instagram_foto.jpg" alt="" width="100%">
		</div>
	</div>

</div>
<div class="col-xs-12 pd0 holder_texto_home">
	<div class="col-xs-7 pd0 holder_texto_home_esquerda">
		<div class="col-xs-10 col-xs-offset-1">
			<p class="texto_home">
				<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra sem nisl, id fringilla ipsum imperdiet in.</span>
				<br><br>
				Nunc libero lacus, suscipit sed placerat velLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra sem nisl, id fringilla ipsum imperdiet in. Nunc libero lacus, suscipit sed placerat vel Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras viverra sem nisl, id fringilla ipsum imperdiet in. Nunc libero lacus, suscipit sed placerat vel Cras viverra sem nisl, id fringilla ipsum imperdiet in. Nunc libero lacus, suscipit sed placerat vel
			</p>
		</div>
	</div>
	<div class="col-xs-5 pd0">
		<div class="col-xs-6 pd0">
			<img src="img/instagram_foto.jpg" alt="" width="100%">
		</div>
		<div class="col-xs-6 pd0">
			<img src="img/instagram_foto.jpg" alt="" width="100%">
		</div>
		<div class="col-xs-6 pd0">
			<img src="img/instagram_foto.jpg" alt="" width="100%">
		</div>
		<div class="col-xs-6 pd0">
			<img src="img/instagram_foto.jpg" alt="" width="100%">
		</div>
	</div>

</div>

<div class="col-xs-12 pd0 contactos_home_holder">
	<div class="col-xs-7 pd0">
		<img src="img/contactos.jpg" alt="" width="100%">
	</div>
	<div class="col-xs-5 pd0 contactos_holder">
		<div class="col-xs-12 pd0">
			<input type="text" class="input_home" placeholder="NOME">
		</div>
		<div class="col-xs-12 pd0">
			<input type="text" class="input_home" placeholder="EMAIL">
		</div>
		<div class="col-xs-12 pd0">
			<textarea class="textarea_home" placeholder="MENSAGEM"></textarea>
		</div>
		<div class="col-xs-12 pd0">
			<input type="submit" value="ENVIAR" class="input_submit_contactos_home">
		</div>
	</div>
</div>

<div class="col-xs-12 pd0">
	
	<div ng-repeat="imagem in ins">
		<img src="{{imagem.images.low_resolution.url}}" alt="">
	</div>
		
	
</div>

