<div class="col-xs-12 pd0" s>
    <div class="portfolio_desktop">
    <div class="col-xs-6 pd0">
        <div  ng-repeat="user in users" ng-if="user.lado===0" class="col-xs-12 pd0 holder_linha">
            <a ng-href="{{lang}}/portfolio2/{{user.id}}">
            <div ng-class="{linha_full: user.destaque == '1',linha_half: user.destaque == '0'}"
                 ng-style="background-image: url('img/projetos/{{user.fotos[0].id}}/{{user.fotos[0].foto}}');background-size: cover;">

                <div  ng-class="holder_backgrounds" style="height: 100%;width: 100%;background-color:#{{user.cor}};position:absolute">

                </div>


            </div>
            </a>

            <div ng-class="{logo_horizontal: user.width >= user.height,logo_vertical: user.width < user.height}">
                <img ng-src="img/projetos/{{user.id}}/{{user.logo}}">
                <div class="text_portfolio">{{user.projectos_idiomas[0].nome}}</div>
            </div>

        </div>

    </div>
    <div class="col-xs-6 pd0">
        <div ng-repeat="user in users" ng-if="user.lado===1" class="col-xs-12 pd0 holder_linha">
            <a ng-href="{{lang}}/portfolio2/{{user.id}}">
            <div  ng-class="{linha_full: user.destaque == '1',linha_half: user.destaque == '0'}"
                 ng-style="background-image: url('img/projetos/{{user.fotos[0].id}}/{{user.fotos[0].foto}}');background-size: cover;">

                <div class="holder_backgrounds"
                     ng-style="height: 100%;width: 100%;background-color:#{{user.cor}};  position: absolute"></div>
            </div>
            </a>
            <div  ng-class="{logo_horizontal: user.width >= user.height,logo_vertical: user.width < user.height}">
                <img src="img/projetos/{{user.id}}/{{user.logo}}">
                <div class="text_portfolio">{{user.projectos_idiomas[0].nome}}{{user.titulo}}</div>
            </div>

        </div>

    </div>
    </div>
    <div class="portfolio_responsive">
        <div class="col-xs-12 pd0">
            <div  ng-repeat="user in users"class="col-xs-12 pd0 holder_linha">
                <a ng-href="{{lang}}/portfolio2/{{user.id}}">
                    <div ng-class="{linha_full: user.destaque == '1',linha_half: user.destaque == '0'}"
                         style="background-image: url('img/projetos/{{user.fotos[0].id}}/{{user.fotos[0].foto}}');background-size: cover;">

                        <div  class="holder_backgrounds" style="height: 100%;width: 100%;background-color:#{{user.cor}};  position: absolute">

                        </div>
                    </div>
                </a>

                <div  ng-class="{logo_horizontal: user.width >= user.height,logo_vertical: user.width < user.height}">
                    <img src="img/projetos/{{user.id}}/{{user.logo}}">
                    <div class="text_portfolio">{{user.projectos_idiomas[0].nome}}</div>
                </div>

            </div>

        </div>
    </div>


</div>

<!--
<div class="col-xs-12 pd0 holder_linha">
    <div class="col-xs-6 pd0">
        <div class="linha_full"
             style="background-image: url('img/rtp.jpg');background-size: cover;">
            <div class="holder_backgrounds" style="background-color: rgba(153,204,102,0.9);"></div>
        </div>
        <div class="portfolio_logo"><img src="img/logo_rtp_branco.svg"></div>
        <div class="text_portfolio"> NOS ALIVE STAND</div>
    </div>


    <div class="col-xs-6 pd0" style="overflow:hidden;">
        <div class="col-xs-12 pd0 linha_half"
             style="background-image: url('img/singstar.jpg');background-size: cover;">
            <div class="holder_backgrounds" style="background-color: rgba(255,102,102,0.9);"></div>

        </div>
        <div class="portfolio_logo"><img src="img/logo_playstation_branco.svg"></div>
        <div class="text_portfolio"> LANÇAMENTO STEP FORWARD</div>
    </div>
    <div class="col-xs-6 pd0" style="overflow:hidden;">
        <div class="col-xs-12 pd0 linha_half"
             style="background-image: url('img/step_forward.jpg');background-size: cover; ">
            <div class="holder_backgrounds" style="background-color: rgba(51,102,204,0.9);"></div>

        </div>
        <div class="portfolio_logo"><img src="img/logo_samsung_branco.svg"></div>
        <div class="text_portfolio"> ACTIVAÇÃO DE MARCA</div>
    </div>


</div>
<div class="col-xs-12 pd0 holder_linha">
    <div class="col-xs-6 pd0" style="overflow:hidden;">
        <div class="col-xs-12 pd0 linha_half"
             style="background-image: url('img/guerlain.jpg');background-size: cover;">
            <div class="holder_backgrounds" style="background-color: rgba(131,126,119,0.9);"></div>
        </div>
        <div class="portfolio_logo"><img src="img/logo_rtp_branco.svg"></div>
        <div class="text_portfolio"> AC</div>
    </div>
    <div class="col-xs-6 pd0" style="overflow:hidden;">
        <div class="col-xs-12 pd0 linha_half"
             style="background-image: url('img/nau_btl.jpg');background-size: cover;">
            <div class="holder_backgrounds" style="background-color: rgba(255,102,102,0.9);"></div>

        </div>
        <div class="portfolio_logo"><img src="img/logo_playstation_branco.svg"></div>
        <div class="text_portfolio"> NOS Alive Stand</div>
    </div>

    <div class="col-xs-6 pd0" style="overflow:hidden;">
        <div class="col-xs-12 pd0 linha_half"
             style="background-image: url('img/loewe.jpg');background-size: cover; ">
            <div class="holder_backgrounds" style="background-color: rgba(215,177,134,0.9);"></div>

        </div>
        <div class="portfolio_logo"><img src="img/logo_samsung_branco.svg"></div>
        <div class="text_portfolio"> NOS Alive Stand</div>
    </div>
    <div class="col-xs-6 pd0" style="overflow:hidden;">
        <div class="col-xs-12 pd0 linha_half"
             style="background-image: url('img/knox_2.jpg');background-size: cover;">
            <div class="holder_backgrounds" style="background-color: rgba(51,102,204,0.9);"></div>

        </div>
        <div class="portfolio_logo"><img src="img/logo_rtp_branco.svg"></div>
        <div class="text_portfolio"> NOS Alive Stand</div>
    </div>
</div>

</div>-->