
<section class="portfolio2_holder">
    <div class="col-xs-12 pd0 portfolio2_holder2">

        <div  class="col-xs-12 folio2_header pd0" style="background-image: url('img/projetos/{{projetosPortfolio[0].fotos[0].id}}/{{projetosPortfolio[0].fotos[0].foto}}');">
            <div class="holder_backgrounds_portfolio2" style="background-color:#{{projetosPortfolio[0].cor}}"></div>
            <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2" style="height: 100%">
                <div class="holder_folio2_header" >
                  <div  ng-class="{logo_horizontal_portfolio2: projetosPortfolio[0].width / projetosPortfolio[0].height <2,logo_vertical_portfolio2:projetosPortfolio[0].width / projetosPortfolio[0].height >2}">
                    <img ng-src="img/projetos/{{projetosPortfolio[0].id}}/{{projetosPortfolio[0].logo}}">
                  </div>
                      <div class="titulo_folio2">
                        {{projetosPortfolio[0].projectos_idiomas[0].nome}}
                    </div>
                    <div class="descricao_folio2">{{projetosPortfolio[0].projectos_idiomas[0].subtitulo}}</div>
                </div>
            </div>
        </div>
        <div class="circle" ng-click="scroll_bottom()" >
            <img src="img/seta_baixo.svg" alt="" width="100%">
        </div>
        <div  class="col-xs-12 pd0 conteudo_port_holder">

            <div ng-repeat="user in projetosPortfolio[0].fotos" ng-if="$index>0" class="col-xs-12 pd0 linha_folio2">
                <div class="col-sm-4 col-xs-12 pd0 texto_folio2"> {{user.titulo}}</div>
                <div class="col-sm-8 col-xs-12 pd0 imagem_folio2" ng-style="{'background-image': 'url(img/projetos/{{user.id}}/{{user.foto}})'}"> </div>
                
            </div>
            

        </div>



    </div>

</section>
