<div class="col-xs-12 pd0">

    <div class="col-xs-12 pd0">
        <div class="col-xs-12 pd0" style="height: 90vh">
            <div class="fotos_sobrenos" ng-repeat="i in ins| limitTo:15"
                 style="background-image: url({{i.images.standard_resolution.url}});background-size: cover;"></div>
        </div>
        <div class="col-xs-12 pd0" style="height: 90vh">
            <div class="fotos_sobrenos" ng-repeat="i in ins|limitTo:30"
                 ng-if="$index>14" style="background-image: url({{i.images.standard_resolution.url}});background-size: cover;"></div>
        </div><div class="col-xs-12 pd0" style="height: 90vh">
            <div class="fotos_sobrenos" ng-repeat="i in ins|limitTo:30"
                 ng-if="$index>14" style="background-image: url({{i.images.standard_resolution.url}});background-size: cover;"></div>
        </div>
    </div>

    <div class="col-xs-12 pd0 holder_conteudo_sobrenos">
        <div class="col-xs-12 pd0" style="height: 90vh; ">
            <div class="holder_backgrounds "  style="background-color: rgba(52,57,79,0.9);" >
                <p class="texto_top_sobrenos"> A Bizness é uma empresa jovem,<br> irreverente e com forte sentido <br> de responsabilidade.</p>

            </div>
        </div>
        <div class="circle" style="top: 90vh;transform: translate(0%,-50%);">
            <img src="img/seta_baixo.svg" alt="" width="100%">
        </div>
        <div class="col-xs-12 pd0" style="height: 90vh; ">
            <canvas></canvas>
            <div class="holder_backgrounds ">
                <div class="col-xs-4 col-xs-offset-4 texto_middle_sobrenos">
                    <p>Oferecemos soluções nas áreas de comunicação integradas, eventos, Brand activation, comunicação e estratégia.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 pd0" style="height: 90vh;">
            <div class="holder_backgrounds " style="background-color: rgba(52,57,79,1);">
                <div class="col-xs-6 texto_botttom_left_sobrenos">
                    <p>O que os clientes esperam de nós ?</p>
                </div>
                <div class="col-xs-6 texto_botttom_right_sobrenos">
                    <p>Soluções criativas e conceitos diferenciadores para estarem sempre na linha da frente.<br/>O que procuramos?<br/> Inovações técnicas para aplicação imediata.<br/>O que queremos ser?<br/>Uma empresa versátil, adaptada ás necessidades diárias de cada marca e cliente.</p>
                </div>
            </div>
        </div>
    </div>
</div>