<div class="col-xs-12 pd0" id="#top">

    <div class="col-xs-12 pd0 bd_sobrenos">
        <div class="col-xs-12 pd0" style="height: 90vh">
            <div class="fotos_sobrenos" ng-repeat="i in ins| limitTo:15"
                 style="background-image: url({{i.images.standard_resolution.url}});background-size: cover;"></div>
        </div>
        <div class="col-xs-12 pd0" style="height: 90vh">
            <div class="fotos_sobrenos" ng-repeat="i in ins|limitTo:20"
                 ng-if="$index>4" style="background-image: url({{i.images.standard_resolution.url}});background-size: cover;"></div>
        </div><div class="col-xs-12 pd0" style="height: 90vh">
        <div class="fotos_sobrenos" ng-repeat="i in ins|limitTo:30"
             ng-if="$index>29" style="background-image: url({{i.images.standard_resolution.url}});background-size: cover;"></div>
    </div>
    </div>

    <div class="col-xs-12 pd0 bd_sobrenos_ultra">
        <div class="col-xs-12 pd0" style="height: 90vh">
            <div class="fotos_sobrenos" ng-repeat="i in ins| limitTo:12"
                 style="background-image: url({{i.images.standard_resolution.url}});background-size: cover;"></div>
            <div class="fotos_sobrenos" ng-repeat="i in ins| limitTo:20" ng-if="$index>7"
                 style="background-image: url({{i.images.standard_resolution.url}});background-size: cover;"></div>
        </div>
        <div class="col-xs-12 pd0" style="height: 90vh">
            <div class="fotos_sobrenos" ng-repeat="i in ins| limitTo:12"
                 style="background-image: url({{i.images.standard_resolution.url}});background-size: cover;"></div>
            <div class="fotos_sobrenos" ng-repeat="i in ins| limitTo:20" ng-if="$index>7"
                 style="background-image: url({{i.images.standard_resolution.url}});background-size: cover;"></div>
        </div><div class="col-xs-12 pd0" style="height: 90vh">
        <div class="fotos_sobrenos" ng-repeat="i in ins|limitTo:30"
             ng-if="$index>29" style="background-image: url({{i.images.standard_resolution.url}});background-size: cover;"></div>
    </div>
    </div>

    <div class="col-xs-12 pd0 holder_conteudo_sobrenos parallax" data-velocity=".8">
        <div class="col-xs-12 pd0 holder_sobre_frase" style="height: 90vh; ">
            <div class=" holder_backgrounds_sobrenos"  style="background-color: rgba(52,57,79,0.9);" >
                <div class="pClassSobre">
                    <div class="texto_top_sobrenos1 texto_top_sobrenos">

                        <p>{{array_lang.sobrenos_titulo_principal}}</p>

                    </div>
                    <div class="texto_top_sobrenos2 texto_top_sobrenos">


                        <p>{{array_lang.sobrenos_titulo_principa2}}</p>

                    </div>
                    <div class="texto_top_sobrenos3 texto_top_sobrenos">

                        <p>{{array_lang.sobrenos_titulo_principa3}}</p>

                    </div>
                    <div class="texto_top_sobrenos4 texto_top_sobrenos">

                        <p>{{array_lang.sobrenos_titulo_principa4}}</p>

                    </div>
                    <div class="texto_top_sobrenos5 texto_top_sobrenos">

                        <p>{{array_lang.sobrenos_titulo_principa5}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="circle" style="top: 90vh;transform: translate(0%,-50%);" ng-click="scroll_bottom()" >
            <img  src="img/seta_baixo.svg" alt="" width="100%">

        </div>

        <div id="parent_canvas" class="col-xs-12 pd0 holder_sobre_canvas" style="height: 90vh; ">
            <canvas></canvas>
            <div class="holder_backgrounds_sobrenos_canvas">
                <div class="col-xs-12 texto_middle_sobrenos">
                    <p>{{array_lang.sobrenos_titulo_secundario}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 pd0 holde_sobre_baixo" style="height: 90vh;">
            <div class="holder_backgrounds_sobrenos movel_holder" style="background-color: #33384e;">
                <div class="col-sm-6 col-xs-12 texto_botttom_left_sobrenos" >
                    
                    <p>{{array_lang.sobrenos_pergunta}}</p>
                   
                </div>
                <div class="col-sm-6 col-xs-12 texto_botttom_right_sobrenos">
                    <p>{{array_lang.sobrenos_resposta}}</p>
                </div>
            </div>
        </div>
    </div>
</div>