<div><div class="col-xs-12 footer_holder">
    <div class="col-md-6 col-sm-8 pd0 footer_esquerda">
        <div class="tit_footer_texto">
            <p>MAIL</p>
            <p>T</p>
            <p>TLM</p>
        </div>
        <div class="contactos_footer_texto">
           <p>lpimentel@bizness.pt</p>
           <p>21 401 24 32</p>
           <p>93 323 20 57</p>
        </div>
        <div class="enderesso_footer_texto">
            <p>Rua Rodrigues Faria, nº130</p>
            <p>Edificio 1 . Piso 3</p>
            <p>1300-501 Lisboa . Portugal</p>
        </div>

        
       <!-- <div class="col-xs-6 pd0 footer_texto_direita">
            <p></p>
            <p></p>
            <p>/p>
        </div>-->
        <div class="col-xs-6 pd0">

        </div>
    </div>
    <div class="col-md-6 col-sm-4 pd0 footer_direita">
        © BIZNESS 2017. Todos os direitos reservados.
    </div>

</div>
<div class="col-xs-12 footer_holder_responsive">
    <div class="col-sm-6 col-xs-12 pd0 footer_esquerda">
        <div class="tit_footer_texto">
            <p><span>lpimentel@bizness.pt</span></p>
            <p><span class="footer_titls">T  </span><span>21 401 24 32</span><span class="footer_titls">TLM  </span><span>93 323 20 57</span></p>

        </div>
        <div class="enderesso_footer_texto">
            <p>Rua Rodrigues Faria, nº130  Edificio 1 . Piso 3</p>
            <p>1300-501 Lisboa . Portugal</p>
        </div>

        <div class="col-xs-6 pd0">

        </div>
    </div>
    <div class="col-sm-6 col-xs-12 pd0 footer_direita">
        © BIZNESS 2017. Todos os direitos reservados.
    </div>

</div>
</div>
