<div class="menu_holder">
    <div class="menu_mobile">
        <div class="icon_open_menu_mobile" ng-click="changeClass()"
             ng-class="{icon_fechar_menu_mobile: menuMobileControler == '1'}">
            <div class="item_icon_menu_mobile item_icon_menu_mobile1"></div>
            <div class="item_icon_menu_mobile item_icon_menu_mobile2"></div>
            <div class="item_icon_menu_mobile item_icon_menu_mobile3"></div>

        </div>
        <div class="pd0 icon_menu"
             style="background: url('img/logo_biz.svg')no-repeat center; background-size: contain">

        </div>
    </div>
    <div class="menu_mobile_list"
         ng-class="{menu_mobile_open: menuMobileControler == '1',menu_mobile_cima: menuMobileControler == '2'}"
         id="myMenu">
        <ul class="pd0">
            <li ><a ng-href="{{lang}}/home" ng-click="changeClass()"><span>INÍCIO</span></a>
            </li>
            <li ><a ng-href="{{lang}}/sobrenos" ng-click="changeClass()"><span>SOBRE</span></a>
            </li>
            <li ><a
                    ng-href="{{lang}}/portfolio" ng-click="changeClass()"><span>PORTFÓLIO</span></a></li>
            <li><a
                    ng-href="{{lang}}/contactos" ng-click="changeClass()"><span>CONTACTOS</span></a></li>

            <li> <img src="img/logo_facebook_branco.svg">   <img src="img/logo_instagram_branco.svg"></li>

        </ul>


    </div>
    <div class="menu-list-holder">
        <div class="icon_menu_list">
            <img src="img/logo_facebook_branco.svg">
        </div>
        <div class="icon_menu_list">
            <img src="img/logo_instagram_branco.svg">
        </div>
        <ul class="pd0 nav">
            <li class="vertical-text" ng-class="{menu_item_sel: area_sel == 'home'}"><a ng-href="{{lang}}/home"><span>INÍCIO</span></a>
            </li>
            <li class="vertical-text" ng-class="{menu_item_sel: area_sel == 'sobrenos'}"><a ng-href="{{lang}}/sobrenos"><span>SOBRE</span></a>
            </li>
            <li class="vertical-text" ng-class="{menu_item_sel: area_sel == 'portfolio'}"><a
                    ng-href="{{lang}}/portfolio"><span>PORTFÓLIO</span></a></li>
            <li class="vertical-text" ng-class="{menu_item_sel: area_sel == 'contactos'}"><a
                    ng-href="{{lang}}/contactos"><span>CONTACTOS</span></a></li>
        </ul>

    </div>
    <div class="menu-list-holder2"
         ng-class="{menu_holder_active: area_sel == 'portfolio'&& sub_area_sel == 'portfolio2'}">
        <div class="menu_barra_red"
             ng-class="{toggle_mostrar_menu: hide_menu == '1', toggle_hide_menu: hide_menu == '2'}">
            <a ng-href="{{lang}}/portfolio">
            <div class="menu_back">
            </div></a>
        </div>
        <div class="menu_barra_btn" ng-click="changeMenu()" ng-class="{fadeOut : hide_botao_menu == '1'}"></div>
    </div>


</div>
	
